**/data_dir/
run/datasets/data/
**/__pycache__/
**/.ipynb_checkpoints
.idea/



# Ignore everything in the folder
run/customScripts/*

# But not these files...
!run/customScripts/dummy.txt

# Ignore everything in the folder
run/customGrids/*

# But not these files...
!run/customGrids/dummy.txt

# Ignore everything in the folder
run/Hyperparameters/*

# But not these files...
!run/Hyperparameters/Default Config.yaml
!run/Hyperparameters/Default Grid.yaml
!run/Hyperparameters/SINGLE_GRID.yaml

# Ignore everything in the folder
run/replications/*

# But not these files...
!run/replications/dummy.txt

# Ignore everything in the folder
run/Visuals/*


# Except these files...
!run/Visuals/dummy.txt

# Ignore everything in the folder
run/datasets/*


# Except these files...
!run/datasets/dummy.txt

# Ignore everything in the folder
run/results/*


# Except these files...
!run/results/dummy.txt

# Ignore everything in the folder
run/configs/*

# Except these files...
!run/configs/dummy.txt


# Ignore everything in the folder
run/models/*

# Except these files...
!run/models/dummy.txt


Dockerfile
example_custom.yaml
run_custom.sh
Custom Loader.txt
example_custom.txt