**/data_dir/
run/datasets/data/
**/__pycache__/
**/.ipynb_checkpoints
.idea/

results/
datasets/
configs/

# Ignore everything in the folder
run/rawData/*

# But not these files...
!run/rawData/GSE40240_eset.csv
!run/rawData/GSE40240_patients.csv

# Ignore everything in the folder
run/customScripts/*

# But not these files...
!run/customScripts/dummy.txt

# Ignore everything in the folder
run/customGrids/*

# But not these files...
!run/customGrids/dummy.txt

example_custom.yaml
run_custom.sh
Custom Loader.txt
example_custom.txt