**/data_dir/
run/datasets/data/
**/__pycache__/
**/.ipynb_checkpoints
.idea/

results/
datasets/
configs/

# Ignore everything in the folder
rawData/*

# But not these files...
!rawData/file1.ext
!rawData/file2.ext

example_custom.yaml
run_custom.sh
Custom Loader.txt
example_custom.txt